:root {
  --neon-green: #00FFAA;
}

body {
  background-color: #0b0b0d;
  color: solid var(--neon-green);
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}


h1 {
  padding-top: 80px;
  padding-bottom: 80px;
  color: var(--neon-green);
}


.container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#background-picker {
  margin-top: 1em;
  padding: 0.5em;
  border: none;
  border-radius: 0.5em;
  background-color: #191a1b;
  color: var(--neon-green);
  font-size: 1em;
}

button {
  margin-top: 1em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  background-color: #191a1b;
  color: var(--neon-green);
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background-color: #2d2e30;
}

#connect-wallet-btn {
  margin-right: 0.5em;
}

#disconnect-wallet-btn {
  margin-top: 1em;
}

#show-balance-btn {
  margin-top: 1em;
}

#mint-nft-btn {
  margin-top: 1em;
}

#show-address-btn {
  margin-top: 1em;
}

#painted-cells-count {
  color: var(--neon-green);
}

#output {
  background-color: transparent;
  color:var(--neon-green);  
  padding: 10px;
  border: 2px solidvar(--neon-green);
  border-radius: 5px;
  overflow-y: scroll;
  margin: 20px auto;
  display: block;  
  width: 60%;
  height: 100px;
  text-align: center;
}

#output::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

#output::-webkit-scrollbar-thumb {
  background-color: var(--neon-green);
}
